/*------------------------------------*\
    #FLYOUT
\*------------------------------------*/

/**
 * Flyouts are pieces of content that fly out of a parent when said parent is
 * hovered.
 */

// Predefine the variables below in order to alter and enable specific features.
$starterized-flyout-namespace:                  $starterized-namespace !default;
$starterized-flyout-z-index:                    null !default;

$starterized-enable-flyout--top:                false !default;
$starterized-enable-flyout--left:               false !default;
$starterized-enable-flyout--right:              false !default;

$starterized-enable-flyout--align-center:       false !default;
$starterized-enable-flyout--align-bottom:       false !default;
$starterized-enable-flyout--align-right:        false !default;





// Shared properties for better css output.
%starterized-flyout--vertically-align--center {
    @include transform(translateY(-50%));
    top: 50%;
}

%starterized-flyout--vertically-align--bottom {
    top: auto;
    bottom: 0;
}

%starterized-flyout--horizontally-align--right {
    left: auto;
    right: 0;
}





.#{$starterized-flyout-namespace}flyout,
%#{$starterized-flyout-namespace}flyout {
    position: relative;
}

    /**
     * Flyout content. There shouldn't be more than one within `.flyout`.
     * Default position is bottom-left of the parent.
     */
    .#{$starterized-flyout-namespace}flyout__content,
    %#{$starterized-flyout-namespace}flyout__content {
        @include starterized-invisible;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: $starterized-flyout-z-index;

        /**
         * Make it visible on parent hover.
         */
        .#{$starterized-flyout-namespace}flyout:hover > &,
        %#{$starterized-flyout-namespace}flyout:hover > & {
            @include starterized-visible;
        }
    }





@if ($starterized-enable-flyout--top == true) {

    /**
     * Flyout top makes flyout content appear top-left of its parent.
     */

    .#{$starterized-flyout-namespace}flyout--top,
    %#{$starterized-flyout-namespace}flyout--top {

        > .#{$starterized-flyout-namespace}flyout__content,
        > %#{$starterized-flyout-namespace}flyout__content {
            top: auto;
            bottom: 100%;
        }

    }

}





@if ($starterized-enable-flyout--left == true) {

    /**
     * Flyout left makes flyout content appear left-top of its parent.
     */

    .#{$starterized-flyout-namespace}flyout--left,
    %#{$starterized-flyout-namespace}flyout--left {

        > .#{$starterized-flyout-namespace}flyout__content,
        > %#{$starterized-flyout-namespace}flyout__content {
            top: 0;
            left: auto;
            right: 100%;
        }

    }

}




@if ($starterized-enable-flyout--right == true) {

    /**
     * Flyout left makes flyout content appear right-top of its parent.
     */

    .#{$starterized-flyout-namespace}flyout--right,
    %#{$starterized-flyout-namespace}flyout--right {

        > .#{$starterized-flyout-namespace}flyout__content,
        > %#{$starterized-flyout-namespace}flyout__content {
            top: 0;
            left: 100%;
        }

    }

}





@if ($starterized-enable-flyout--align-center == true) {

    /**
     * Horizontally center flyout content for `.flyout--top` and
     * `.flyout--bottom`.
     */

    .#{$starterized-flyout-namespace}flyout--align--center,
    %#{$starterized-flyout-namespace}flyout--align--center {

        > .#{$starterized-flyout-namespace}flyout__content,
        > %#{$starterized-flyout-namespace}flyout__content {
            @include transform(translateX(-50%));
            left: 50%;
        }

        @if ($starterized-enable-flyout--left == true) {

            /**
             * Vertically center flyout content for `.flyout--left`.
             */

            &.#{$starterized-flyout-namespace}flyout--left,
            &%#{$starterized-flyout-namespace}flyout--left {

                > .#{$starterized-flyout-namespace}flyout__content,
                > %#{$starterized-flyout-namespace}flyout__content {
                    @extend %starterized-flyout--vertically-align--center;
                    left: auto;
                }

            }

        }

        @if ($starterized-enable-flyout--right == true) {

            /**
             * Vertically center flyout content for `.flyout--right`.
             */

            &.#{$starterized-flyout-namespace}flyout--right,
            &%#{$starterized-flyout-namespace}flyout--right {

                > .#{$starterized-flyout-namespace}flyout__content,
                > %#{$starterized-flyout-namespace}flyout__content {
                    @extend %starterized-flyout--vertically-align--center;
                    left: 100%;
                }

            }

        }

    }

}





@if ($starterized-enable-flyout--align-bottom == true) {

    .#{$starterized-flyout-namespace}flyout--align--bottom,
    %#{$starterized-flyout-namespace}flyout--align--bottom {

        @if ($starterized-enable-flyout--left == true) {

            /**
             * Align flyout content with bottom of the parent
             * for `.flyout--left`.
             */

            &.#{$starterized-flyout-namespace}flyout--left,
            &%#{$starterized-flyout-namespace}flyout--left {

                > .#{$starterized-flyout-namespace}flyout__content,
                > %#{$starterized-flyout-namespace}flyout__content {
                    @extend %starterized-flyout--vertically-align--bottom;
                }

            }

        }

        @if ($starterized-enable-flyout--right == true) {

            /**
             * Align flyout content with bottom of the parent
             * for `.flyout--right`.
             */

            &.#{$starterized-flyout-namespace}flyout--right,
            &%#{$starterized-flyout-namespace}flyout--right {

                > .#{$starterized-flyout-namespace}flyout__content,
                > %#{$starterized-flyout-namespace}flyout__content {
                    @extend %starterized-flyout--vertically-align--bottom;
                }

            }

        }

    }

}





@if ($starterized-enable-flyout--align-right == true) {

    /**
     * Align with the right side of its parent, where parent must be either
     * `.flyout` or `.flyout--top`.
     */

    .#{$starterized-flyout-namespace}flyout--align--right,
    %#{$starterized-flyout-namespace}flyout--align--right {

        > .#{$starterized-flyout-namespace}flyout__content,
        > %#{$starterized-flyout-namespace}flyout__content {
            left: auto;
            right: 0;
        }

    }

}
