/* --------------------------------------------------------------------------------------
+
+ GRID BASE (tweaked version of http://csswizardry.com/2013/02/introducing-csswizardry-grids/)
+
-------------------------------------------------------------------------------------- */

//SET THE SPACING BETWEEN YOUR GRID ITEMS
$starterized-grid-gutter:                           $starterized-base-spacing-unit !default;
$starterized-grid-gutter-bottom:                    $starterized-grid-gutter !default;


$starterized-grid-narrowest-gutter:                 round($starterized-grid-gutter / 3) !default;
$starterized-grid-narrowest-gutter-bottom:          $starterized-grid-narrowest-gutter !default;


$starterized-grid-narrow-gutter:                    round($starterized-grid-gutter / 2) !default;
$starterized-grid-narrow-gutter-bottom:             $starterized-grid-narrow-gutter !default;


$starterized-grid-wide-gutter:                      $starterized-grid-gutter * 2 !default;
$starterized-grid-wide-gutter-bottom:               $starterized-grid-wide-gutter !default;


$starterized-grid-widest-gutter:                    $starterized-grid-gutter * 3 !default;
$starterized-grid-widest-gutter-bottom:             $starterized-grid-widest-gutter !default;


//GRID
.#{$starterized-namespace}grid,
%#{$starterized-namespace}grid {
    font-size: 0;
    list-style: none;                       /* Allow the grid system to be used on lists */
    margin: 0;
    margin-left: -$starterized-grid-gutter;             /* Apply a negative 'margin-left' to negate the columns' gutters */
    padding: 0;

    //NESTED GRID
    .#{$starterized-namespace}grid,
    %#{$starterized-namespace}grid {
        &:last-child {
            margin-bottom: -$starterized-grid-gutter-bottom;     /* remove bottom space for nested grid */
        }
    }

    //GRID FLUSH BOTTOM MARGIN
    &.#{$starterized-namespace}grid--mb0,
    &%#{$starterized-namespace}grid--mb0 {
        margin-bottom: -$starterized-grid-gutter-bottom !important;
    }
}


//GRID ITEM
.#{$starterized-namespace}grid__item,
%#{$starterized-namespace}grid__item {
    @include box-sizing(border-box);        /* Required to combine fluid widths and fixed gutters */
    display: inline-block;
    font-size: 1rem;
    margin-bottom: $starterized-grid-gutter-bottom;
    padding-left: $starterized-grid-gutter;
    vertical-align: top;
    width: 100%;
}


//NARROWEST GRID
.#{$starterized-namespace}grid--narrowest,
%#{$starterized-namespace}grid--narrowest {
    margin-left: -$starterized-grid-narrowest-gutter;           /* Apply a negative 'margin-left' to negate the columns' gutters */

    //NESTED GRID
    .#{$starterized-namespace}grid &,
    %#{$starterized-namespace}grid & {
        &:last-child {
            margin-bottom: -$starterized-grid-narrowest-gutter-bottom;     /* remove bottom space for nested grid */
        }
    }

    //GRID ITEM
    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        margin-bottom: $starterized-grid-narrowest-gutter-bottom;
        padding-left: $starterized-grid-narrowest-gutter;
    }

    //GRID FLUSH BOTTOM MARGIN
    &.#{$starterized-namespace}grid--mb0,
    &%#{$starterized-namespace}grid--mb0 {
        margin-bottom: -$starterized-grid-narrowest-gutter-bottom !important;
    }
}


//NARROW GRID
.#{$starterized-namespace}grid--narrow,
%#{$starterized-namespace}grid--narrow {
    margin-left: -$starterized-grid-narrow-gutter;           /* Apply a negative 'margin-left' to negate the columns' gutters */

    //NESTED GRID
    .#{$starterized-namespace}grid &,
    %#{$starterized-namespace}grid & {
        &:last-child {
            margin-bottom: -$starterized-grid-narrow-gutter-bottom;     /* remove bottom space for nested grid */
        }
    }

    //GRID ITEM
    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        margin-bottom: $starterized-grid-narrow-gutter-bottom;
        padding-left: $starterized-grid-narrow-gutter;
    }

    //GRID FLUSH BOTTOM MARGIN
    &.#{$starterized-namespace}grid--mb0,
    &%#{$starterized-namespace}grid--mb0 {
        margin-bottom: -$starterized-grid-narrow-gutter-bottom !important;
    }
}



//WIDE GRID
.#{$starterized-namespace}grid--wide,
%#{$starterized-namespace}grid--wide {
    margin-left: -$starterized-grid-wide-gutter;           /* Apply a negative 'margin-left' to negate the columns' gutters */

    //NESTED GRID
    .#{$starterized-namespace}grid &,
    %#{$starterized-namespace}grid & {
        &:last-child {
            margin-bottom: -$starterized-grid-wide-gutter-bottom;     /* remove bottom space for nested grid */
        }
    }

    //GRID ITEM
    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        margin-bottom: $starterized-grid-wide-gutter-bottom;
        padding-left: $starterized-grid-wide-gutter;
    }

    //GRID FLUSH BOTTOM MARGIN
    &.#{$starterized-namespace}grid--mb0,
    &%#{$starterized-namespace}grid--mb0 {
        margin-bottom: -$starterized-grid-wide-gutter-bottom !important;
    }
}


//WIDEST GRID
.#{$starterized-namespace}grid--widest,
%#{$starterized-namespace}grid--widest {
    margin-left: -$starterized-grid-widest-gutter;           /* Apply a negative 'margin-left' to negate the columns' gutters */

    //NESTED GRID
    .#{$starterized-namespace}grid &,
    %#{$starterized-namespace}grid & {
        &:last-child {
            margin-bottom: -$starterized-grid-widest-gutter-bottom;     /* remove bottom space for nested grid */
        }
    }

    //GRID ITEM
    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        margin-bottom: $starterized-grid-widest-gutter-bottom;
        padding-left: $starterized-grid-widest-gutter;
    }

    //GRID FLUSH BOTTOM MARGIN
    &.#{$starterized-namespace}grid--mb0,
    &%#{$starterized-namespace}grid--mb0 {
        margin-bottom: -$starterized-grid-widest-gutter-bottom !important;
    }
}


//GUTTERLESS GRIDS HAVE ALL THE PROPERTIES OF REGULAR GRIDS, MINUS ANY SPACING
.#{$starterized-namespace}grid--gutterless,
%#{$starterized-namespace}grid--gutterless {
    margin-left: 0;
    margin-bottom: $starterized-grid-gutter-bottom;  /* since there's no gutter on .grid__items we have to compensate with margin bottom on .grid--gutterless */

    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        margin-bottom: 0;
        padding-left: 0;
    }
    .grid &:last-child {
        margin-bottom: 0;       /* when nested .grid--gutterless:last-child should have no bottom margin */
    }

    //GRID FLUSH BOTTOM MARGIN
    &.#{$starterized-namespace}grid--mb0,
    &%#{$starterized-namespace}grid--mb0 {
        margin-bottom: 0 !important;
    }
}


//NOWRAP GRID
.#{$starterized-namespace}grid--nowrap,
%#{$starterized-namespace}grid--nowrap {
    white-space: nowrap;

    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        white-space: normal;
    }
}


//REVERSED GRID (ALLOWS YOU TO STRUCTURE YOUR SOURCE DIFFERENT TO HOW YOUR RENDERED LAYOUT WILL APPEAR)
.#{$starterized-namespace}grid--reversed,
%#{$starterized-namespace}grid--reversed {
    direction: rtl;
    text-align: left;

    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        direction: ltr;
        text-align: left;
    }
}


//CENTERED GRIDS ALIGN GRID ITEMS CENTRALLY WITHOUT NEEDING TO USE PUSH OR PULL CLASSES
.#{$starterized-namespace}grid--center,
%#{$starterized-namespace}grid--center {
    text-align: center;

    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        text-align: left;
    }
}


//ALIGN THE ENTIRE GRID TO THE RIGHT
.#{$starterized-namespace}grid--right,
%#{$starterized-namespace}grid--right {
    text-align: right;

    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        text-align: left;
    }
}


//VERTICALLY ALIGN GRID ITEMS TO MIDDLE
.#{$starterized-namespace}grid--middle,
%#{$starterized-namespace}grid--middle {
    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        vertical-align: middle;
    }
}


//VERTICALLY ALIGN GRID ITEMS TO BOTTOM
.#{$starterized-namespace}grid--bottom,
%#{$starterized-namespace}grid--bottom {
    > .#{$starterized-namespace}grid__item,
    > %#{$starterized-namespace}grid__item {
        vertical-align: bottom;
    }
}
