/* --------------------------------------------------------------------------------------
+
+ VERTICALIZE
+
-------------------------------------------------------------------------------------- */

/*
    <div class="verticalize">
      <div class="verticalize__box">
        Content that needs to be vertically and horizontally centered
      </div>
    </div>
*/

//VERTICALIZE CONTAINER
.#{$starterized-namespace}verticalize,
%#{$starterized-namespace}verticalize {
    text-align: center;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        margin-right: -0.25em; /* Adjusts for spacing */
        vertical-align: middle;
    }
}

//FULL VERTICALIZE
.#{$starterized-namespace}verticalize--full,
%#{$starterized-namespace}verticalize--full {
    height: 100%;
}

//VERTICALIZE BOX
.#{$starterized-namespace}verticalize__box,
%#{$starterized-namespace}verticalize__box {
    display: inline-block;
    max-width: 99%;             /* Prevent verticalize box to go to next line and break layout if window is too narrow */
    text-align: left;
    vertical-align: middle;
}
