/* --------------------------------------------------------------------------------------
+
+ GRID GENERATOR (tweaked version of http://csswizardry.com/2013/02/introducing-csswizardry-grids/)
+
-------------------------------------------------------------------------------------- */

$starterized-widths-enable--small:          $starterized-breakpoint-enable--small !default;
$starterized-widths-enable--medium:         $starterized-breakpoint-enable--medium !default;
$starterized-widths-enable--large:          $starterized-breakpoint-enable--large !default;
$starterized-widths-enable--extralarge:     $starterized-breakpoint-enable--extralarge !default;


//FRAMEWORK VARIABLES
$starterized-widths: (
    small: $starterized-widths-enable--small,
    medium: $starterized-widths-enable--medium,
    large: $starterized-widths-enable--large,
    extralarge: $starterized-widths-enable--extralarge
);


//CREATING WIDTHS, PREFIXED BY THE SPECIFIED NAMESPACE
@mixin starterized-width($namespace: "") {
    //FLUID
    .#{$namespace}fluid             { width: auto !important; }

    //WHOLE
    .#{$namespace}one-whole         { width: 100% !important; }


    //HALVES
    .#{$namespace}one-half          { width: 50% !important; }


    //THIRDS
    .#{$namespace}one-third         { width: 33.333% !important; }
    .#{$namespace}two-thirds        { width: 66.666% !important; }


    //QUARTERS
    .#{$namespace}one-quarter       { width: 25% !important; }
    .#{$namespace}two-quarters      { @extend .#{$namespace}one-half; }
    .#{$namespace}three-quarters    { width: 75% !important; }


    //FIFTHS
    .#{$namespace}one-fifth         { width: 20% !important; }
    .#{$namespace}two-fifths        { width: 40% !important; }
    .#{$namespace}three-fifths      { width: 60% !important; }
    .#{$namespace}four-fifths       { width: 80% !important; }


    //SIXTHS
    .#{$namespace}one-sixth         { width: 16.666% !important; }
    .#{$namespace}two-sixths        { @extend .#{$namespace}one-third; }
    .#{$namespace}three-sixths      { @extend .#{$namespace}one-half; }
    .#{$namespace}four-sixths       { @extend .#{$namespace}two-thirds; }
    .#{$namespace}five-sixths       { width: 83.333% !important; }


    //EIGHTHS
    .#{$namespace}one-eighth        { width: 12.5% !important; }
    .#{$namespace}two-eighths       { @extend .#{$namespace}one-quarter; }
    .#{$namespace}three-eighths     { width: 37.5% !important; }
    .#{$namespace}four-eighths      { @extend .#{$namespace}one-half; }
    .#{$namespace}five-eighths      { width: 62.5% !important; }
    .#{$namespace}six-eighths       { @extend .#{$namespace}three-quarters; }
    .#{$namespace}seven-eighths     { width: 87.5% !important; }


    //TENTHS
    .#{$namespace}one-tenth         { width: 10% !important; }
    .#{$namespace}two-tenths        { @extend .#{$namespace}one-fifth; }
    .#{$namespace}three-tenths      { width: 30% !important; }
    .#{$namespace}four-tenths       { @extend .#{$namespace}two-fifths; }
    .#{$namespace}five-tenths       { @extend .#{$namespace}one-half; }
    .#{$namespace}six-tenths        { @extend .#{$namespace}three-fifths; }
    .#{$namespace}seven-tenths      { width: 70% !important; }
    .#{$namespace}eight-tenths      { @extend .#{$namespace}four-fifths; }
    .#{$namespace}nine-tenths       { width: 90% !important; }


    //TWELFTHS
    .#{$namespace}one-twelfth       { width: 8.333% !important; }
    .#{$namespace}two-twelfths      { @extend .#{$namespace}one-sixth; }
    .#{$namespace}three-twelfths    { @extend .#{$namespace}one-quarter; }
    .#{$namespace}four-twelfths     { @extend .#{$namespace}one-third; }
    .#{$namespace}five-twelfths     { width: 41.666% }
    .#{$namespace}six-twelfths      { @extend .#{$namespace}one-half; }
    .#{$namespace}seven-twelfths    { width: 58.333% !important; }
    .#{$namespace}eight-twelfths    { @extend .#{$namespace}two-thirds; }
    .#{$namespace}nine-twelfths     { @extend .#{$namespace}three-quarters; }
    .#{$namespace}ten-twelfths      { @extend .#{$namespace}five-sixths; }
    .#{$namespace}eleven-twelfths   { width: 91.666% !important; }
}


//REGULAR, NON-RESPONSIVE WIDTH CLASSES
@include starterized-width();


//RESPONSIVE CLASSES
@include starterized-breakpoints($starterized-widths) {
    @include starterized-width('#{$starterized-current-breakpoint-prefix}--');
}
