/* --------------------------------------------------------------------------------------
+
+ STARTERIZED DEFAULT SETTINGS
+
-------------------------------------------------------------------------------------- */


// COMPASS CONFIG VARIABLES
$experimental-support-for-svg:                  true !default;          /* turns on gradient support for IE9 */
$experimental-support-for-opera:                false !default;
$legacy-support-for-ie6:                        false !default;
$legacy-support-for-mozilla:                    false !default;         /* turns off support for Mozilla prior to version 3.6 http://tiny.cc/42k3mw */


// BASIC STYLES
$starterized-base-background-color:             #fff !default;
$starterized-base-font-size:                    16px !default;
$starterized-base-line-height:                  24px !default;
$starterized-base-link-color:                   #0091d4 !default;
$starterized-base-text-color:                   #333 !default;


// STARTERIZED NAMESPACE
$starterized-namespace:                         null !default;


// STARTERIZED BREAKPOINTS
$starterized-breakpoint--medium:                481px !default;
$starterized-breakpoint--large:                 769px !default;
$starterized-breakpoint--extralarge:            1025px !default;


// ENABLE STARTERIZED BREAKPOINTS ON GLOBAL LEVEL
$starterized-breakpoint-enable--small:          false !default;
$starterized-breakpoint-enable--medium:         false !default;
$starterized-breakpoint-enable--large:          false !default;
$starterized-breakpoint-enable--extralarge:     false !default;


// STARTERIZED BREAKPOINTS PREFIXES
$starterized-breakpoint-prefix--small:          'S' !default;
$starterized-breakpoint-prefix--medium:         'M' !default;
$starterized-breakpoint-prefix--large:          'L' !default;
$starterized-breakpoint-prefix--extralarge:     'XL' !default;


// STARTERIZED BASE SPACING UNIT
// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$starterized-base-spacing-unit:                 $starterized-base-line-height;


//STARTERIZED BREAKPOINTS
// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$starterized-breakpoints: (
    small: (
        prefix: $starterized-breakpoint-prefix--small,
        width: $starterized-breakpoint--medium - 1
    ),
    medium: (
        prefix: $starterized-breakpoint-prefix--medium,
        width: $starterized-breakpoint--medium
    ),
    large: (
        prefix: $starterized-breakpoint-prefix--large,
        width: $starterized-breakpoint--large
    ),
    extralarge: (
        prefix: $starterized-breakpoint-prefix--extralarge,
        width: $starterized-breakpoint--extralarge
    )
);
